.menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	position: relative;
	overflow: auto;
	background-color: #99ccff;
}
.menu > div:nth-child(2) {
	transition-delay: 600ms;
}
.menu > div:nth-child(3) {
	transition-delay: 400ms;
}
.menu > div:nth-child(4) {
	transition-delay: 200ms;
}
@media only screen and (max-width: 1000px) {
	.menu {
	}
}
