.HomeSection {
	display: flex;
	background-image: url('C:\Users\kuba\Desktop\chuda_szkapa-master\src\components\assets\background.jpg');
	background-size: cover;
	height: 100%;
	background-position: center;
	align-items: center;
	flex-direction: column;
	color: white;
	overflow-y: scroll;
}
.lableSection {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 2rem;
	height: 70%;
	padding: 0 0 5rem 0;
}
.HomeSection > section {
	transform: translateY(20%);
	opacity: 0;
	transition: 0.6s ease-in-out;
}
.HomeSection > section.active {
	transform: translateY(0%);
	opacity: 1;
}
@media only screen and (max-width: 740px) {
	.HomeSection {
		display: flex;
	}
	.lableSection {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
